{
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "printWidth": 100,
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",

    "svelteSortOrder": "options-styles-scripts-markup",
    "svelteStrictMode": true,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true,
    "svelteIndentScriptAndStyle": false
}
