.accordion {
  margin: .7rem auto;

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    width: 100%;
    cursor: pointer;
    border-bottom: 0.1px solid #e7e7e7;
    /* margin: 15px 0; */
    will-change: transform;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0, 1);
    letter-spacing: 0.2rem;

    &:hover {
      transition: all 0.7s cubic-bezier(0.645, 0.045, 0, 1);
      letter-spacing: 0.1rem;
    }

    >h5,
    h3 {
      font-size: 1rem;
      transition: all 0.7s cubic-bezier(0.645, 0.045, 0, 1);
    }

    .isActive {
      transform: rotate(90deg + 45deg);
      transition: all 0.7s cubic-bezier(1.645, 0.045, 0, 1);

    }

    >span {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .dropdown {
    padding: 15px 10px;
    color: var(--color-title);

    background-color: var(--color-primary);
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    /* margin-top: 0.1rem; */

    will-change: transform;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0, 1);

    li {
      // padding: 0.1rem;
      list-style: none;
      display: flex;
      align-items: center;
      color: #5f77e0;

      svg {
        stroke: #5f77e0;
      }

      p {
        padding-left: 1rem;
      }
    }
  }
}