/* declaring the css variables colors */

:global(body) {
    // background-color: #1d3040;
    background-color: var(--color-primary);
    // color: #bfc2c7;
    transition: background-color 0.3s;
}

:global(body.dark-mode) {
    background-color: var(--color-background);

    h1,
    h4,
    h3,
    li,
    a {
        color: var(--color-primary);
    }

    span {
        color: var(--color-primary);
    }

    p {
        color: var(--color-stronger);
    }
}

:root {
    --color-primary-accent: #2614c7;
    --color-primary: #111111;
    --color-button: #5f77e0;
    --color-paragraph: #ffffff;
    --color-title: rgb(255, 255, 255);
    --color-background: #fff;
    --color-links: #fff;

    --step--2: clamp(0.69rem, calc(0.6rem + 0.46vw), 0.96rem);
    --step--1: clamp(0.83rem, calc(0.71rem + 0.64vw), 1.2rem);
    --step-0: clamp(1rem, calc(0.83rem + 0.87vw), 1.25rem);
    --step-1: clamp(1.2rem, calc(0.97rem + 1.17vw), 1.88rem);
    --step-2: clamp(1.44rem, calc(1.13rem + 1.57vw), 2.34rem);
    --step-3: clamp(1.73rem, calc(1.31rem + 2.09vw), 2.93rem);
    --step-4: clamp(1.9rem, calc(1.52rem + 2.76vw), 3.66rem);
    --step-5: clamp(2.49rem, calc(1.76rem + 3.63vw), 4.58rem);

    --space-3xs: clamp(0.25rem, calc(0.21rem + 0.22vw), 0.38rem);
    --space-2xs: clamp(0.5rem, calc(0.41rem + 0.43vw), 0.75rem);
    --space-xs: clamp(0.75rem, calc(0.62rem + 0.65vw), 1.13rem);
    --space-s: clamp(1rem, calc(0.83rem + 0.87vw), 1.5rem);
    --space-m: clamp(1.5rem, calc(1.24rem + 1.3vw), 2.25rem);
    --space-l: clamp(2rem, calc(1.65rem + 1.74vw), 4rem);
    --space-xl: clamp(3rem, calc(2.48rem + 2.61vw), 4.5rem);
    --space-2xl: clamp(4rem, calc(3.3rem + 3.48vw), 6rem);
    --space-3xl: clamp(6rem, calc(4.96rem + 5.22vw), 9rem);
}

// $--base-spacing: 3.5rem;

html {
    //  font-size: 100%;
    // font-size: 15px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

::-moz-selection {
    background: #5f77e0;
}

::selection {
    background: #5f77e0;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;

    line-height: 1.4;
    overflow-x: hidden;
    // overflow: hidden;
    position: relative;
}

button {
    background: 0 0;
    border: 0;
}

body,
button,
input,
select,
textarea {
    // color: #ffffff;
    font-family: sans-serif;
    // font-size: 16px;
    // font-size: 1.6rem;

    line-height: 1.5;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: var(--color-paragraph);
}

.container {
    max-width: 1300px;
    padding: 0 20px;
    margin: auto;
}
.container-900 {
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
}
.m-top {
    margin-top: var(--space-3xl);
}
.paragraph {
    opacity: 0;
    // text-wrap: balance;
    // max-width: 55ch;
}

@keyframes reveal {
    from {
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

h3,
a {
    color: var(--color-paragraph);
}

p {
    color: var(--color-paragraph);
    letter-spacing: 0.8px;

    // z-index: -3;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.activeLink {
    border-radius: 7px;
    color: var(--color-title);
}

.logo {
    width: 160px;
    height: 160px;
    background-color: #f0f0f0;
    border: 3px solid #888888;
    border-radius: 50%;
    padding: 20px;

    @media (max-width: 799px) {
        width: 130px;
        height: 130px;
    }
}

.samp {
    color: rgb(111, 76, 238);
    font-size: clamp(1.3rem, 2.5vw, 1.4rem);
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-ai-c {
        align-items: center;
    }

    &-ai-c-end {
        align-items: flex-end;
    }
    &-ai-c-st {
        align-items: flex-start;
    }

    &-jc-c {
        justify-content: center;
    }
}
.primary-button {
    color: #ffffff;
    background-color: rgb(111, 76, 238);
    border-radius: 50px;
    padding: 20px 46px;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    font-size: var(--step--0);

    text-transform: uppercase;

    transition: all 0.3s cubic-bezier(0.645, 0.045, 0, 1);

    &:hover {
        transform: scale(1.03);
        transition: transform 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
    }
}

.gradient {
    height: fit-content;
    z-index: -1;
    width: 100%;
    max-width: 1040px;
    background-image: 
    // radial-gradient(at 20% 50%, hsla(215, 98%, 53%, 1) 20px, transparent 55%),
    radial-gradient(at 63% 40%, rgb(92, 62, 197) 30px, transparent 35%),
                  radial-gradient(at 30% 60%, rgb(114, 133, 254) 140px, transparent 30%);


    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(100%);
    top: 80px;
    opacity: 0.65;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
