.nav__bg {
    backdrop-filter: blur(45px);
    position: sticky;
    top: 0;

    z-index: 4;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.9rem;

    font-family: "IBM Plex Sans", sans-serif;

    img {
        width: 63px;
    }

    &__theme {
        position: absolute;
        right: 75px;
        top: 1.3rem;
    }

    .menu {
        cursor: pointer;
        transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;

        span {
            height: 3px;
            width: 22px;
            background: var(--color-background);
            // background: #fff;
            margin: 5px;
            display: block;
            transition: all 0.35s cubic-bezier(0, 0.52, 0, 1);
        }

        &.isopen {
            span:first-child {
                transform: translateY(4px) rotate(225deg);
                transition: transform 0.45s cubic-bezier(0, 0.15, 0, 1);
            }

            span:last-child {
                transform: translateY(-4px) rotate(-225deg);
                transition: transform 0.25s cubic-bezier(0, 0.35, 0, 1);
            }
        }
    }
}

.list {
    z-index: 3;
    background-color: rgb(111, 76, 238);

    position: fixed;
    inset: 0;
    // transform: translateY(-100%);

    // transition: all 0.3s cubic-bezier(0.24, 0, 0.4, 1);
    visibility: hidden;

    &.isopen {
        visibility: visible;
        // transform: translateY(0);
        // transition: transform 0.35s cubic-bezier(0, 0.15, 0, 1);
    }

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        width: 100svw;
        height: 100svh;
    }
    &__ul {
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: var(--space-s);

        li {
            list-style: none;
            text-align: center;

            overflow: hidden;
            a {
                font-size: var(--step-3);

                color: var(--color-title);
                // transition: all 0.2s cubic-bezier(0.24, 0, 0.4, 1);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    @for $i from 1 through 3 {
        li:nth-child(#{$i}) {
            animation-delay: $i * 0.15s;
        }
    }
}

.slideUp {
    animation: slideUp 0.5s cubic-bezier(0.24, 0, 0.4, 1) both;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
